:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid blueviolet;
  padding: .5rem;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  object-fit: contain;
}

#app {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}
